FACTIVA_USER=
FACTIVA_PASS=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=

TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL=
